<div class="phonesInfo" ng-controller="PhonesCtrl">


    <ul ng-repeat="phone in phones">
        <div class="row">
            <div class="col-lg-6">
                <div class="panel panel-default ">
                    <div class="panel-body">
                        <a  ng-click="DisplayProduct(phone.name)">{{phone.name}}</a>
                        <p>Save $150 on 32GB or 64GBFree shipping</p>
                    </div>
                   
                </div>
            </div>
            <div class="container">
                <button  class="panel panel-default btn btn-success col-lg-6" >Buy From {{phone.price | currency}}</button>
                <div ui-view> </div>

            </div>

        </div>
        
        <div>
            <img class="img-responsive" src="/images/img2.jpg">
        </div>
        <li>{{phone.Memorysize}}</li>
        <li>{{phone.qty}}</li>
    </ul>
    
</div>

